{%- set isArabic = false -%}
{%- for tag in post.tags -%}
  {%- if tag.name === 'arabic' -%}
    {%- set isArabic = true -%}
  {%- endif -%}
{%- endfor -%}
<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <title>{{ post.title.rendered | safe }}</title>
  <meta name="description" content="{{ post.description | safe }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  {% include 'partials/js-detect.njk' %}
</head>
<body>
  {% max_width %}
  {% responsive %}
    {% container "100_100_29_29_29" %}
      {% include 'partials/aside.njk' %}
    {% end_container %}
    {% container "85_85_71_71_71", "", "main" %}
      {% responsive %}
        {% container "100_100_83_83_83", "", "centered" %}
        <main>
          <div class="post"{% if isArabic %} lang="ar" dir="rtl" {% endif %}>
            <div class="post__block">
              <div class="spacer-40"></div>
              {% responsive %}
                {% container "80_80_80_80_80", "", "centered" %}
                  <h3 class="h1">
                    <a href="/{{ post.slug }}/">
                    {{ post.title.rendered | safe }}
                    </a>
                  </h3>
                {% end_container %}
              {% endresponsive %}
              <div class="post__info"{% if isArabic %} lang="{{ site.language }}" dir="ltr"{% endif %}>
                {% responsive %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    {% responsive "ul", "tags list-reset" %}
                      {% responsive "li", "tag" %}
                        {% pictureSvgPng "img/icons/calendar.svg", "Posted on: ", "20", "16" %}
                        <a class="secondary__link" href="/{{ post.slug }}">
                          <time datetime="{{ post.date }}">{% formatDate post.date %} </time>
                        </a>
                      {% endresponsive %}
                      {% responsive "li", "tag" %}
                        {% pictureSvgPng "img/icons/user.svg", "Author on: ", "20", "16" %}
                        <a class="secondary__link" href="/author/{{ post.authors[0].slug }}/">
                          {{ post.authors[0].name }}
                        </a>
                      {% endresponsive %}
                    {% if post.categories.length > 0 %}
                    {% responsive "li", "tag" %}
                      {% pictureSvgPng "img/icons/folder.svg", "Categories on: ", "20", "16" %}
                      {% responsive "ul", "list-reset responsive" %}
                        {% for category in post.categories %}
                          <li{%if loop.last%} class="last" {% endif %}>
                          <a class="secondary__link" href="/category/{{ category.slug }}/">
                            {{ category.name }}{%if loop.last%}{% else %},{% endif %}
                          </a>
                          </li>
                        {% endfor %}
                      {% endresponsive %}
                    {% endresponsive %}
                    {% endif %}
                    {% if post.tags.length > 0 %}
                    {% responsive "li", "tag" %}
                      {% pictureSvgPng "img/icons/label.svg", "Tags on: ", "20", "16" %}
                      {% responsive "ul", "list-reset responsive" %}
                        {% for tag in post.tags %}
                          <li{%if loop.last%} class="last" {% endif %}>
                          <a class="secondary__link" href="/tag/{{ tag.slug }}/">
                            {{ tag.name }}{%if loop.last%}{% else %},{% endif %}
                          </a>
                          </li>
                        {% endfor %}
                      {% endresponsive %}
                    {% endresponsive %}
                    {% endif %}
                    {% endresponsive %}
                  {% end_container %}
                {% endresponsive %}
              </div>
              <div class="spacer-32"></div>
              <div class="post__content">
                {% responsive %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    {{ post.content.rendered | safe }}
                  {% end_container %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    {% include 'partials/share-block.njk' %}
                  {% end_container %}
                {% endresponsive %}
              </div>
            </div>
          </div>
        </main>
        {% include 'partials/post-pagination.njk' %}
        {% include 'partials/footer.njk' %}
        {% end_container %}
      {% endresponsive %}
    {% end_container %}
  {% endresponsive %}
  {% end_max_width %}
  <script src="/js/index.js"></script>
</body>
</html>